<!DOCTYPE html>

<html> 
    
<head> 
    <title>Kirjaudu</title>
</head>

<body>

    <h2>Kirjaudu sisään</h2>
    <p>
    <form action="/login" method="post"> 
    <label for="tunnus">Tunnus: </label> <br>
    <input id="tunnus" type="text" name="username" placeholder="Käyttäjätunnus" required>
    <p> 
    <label for="salasana">Salasana: </label> <br>
    <input id="salasana" type="password" name="password" placeholder="salasana" required>
    <p>
    <input type="submit" value="Kirjaudu">
    </form>
    Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>


    <br>
    <br>
    <hr>
    <a href="/">Palaa takaisin kotisivulle</a>


</body>

</html>