<!DOCTYPE html>

<html> 
    
<head> 
    <title> Profiili </title>
</head>

<body>
    {% if session.user_id %}
    <ul>
        <li><a href="/" title="palaa etusivulle">Etusivu </a></li>
        <li><a href="/logout" title="kirjaudu ulos">Kirjaudu ulos</a></li>
        <li><a href="/profile" title="näytä oma profiili">Oma profiili </a></li>
    </ul>
    {% else %}
    <ul>
        <li><a href="/" title="palaa etusivulle">Etusivu </a></li>
        <li>Kirjaudu sisään painamalla <a href="/login" title="kirjaudu sisään">tästä</a></li>
    </ul>
    {% endif %} 

    <h1>TÄMÄ ON SINUN SIVUSI {{ user }}</h1>

    Luo uusi tapahtuma: <a href="/add" title="luo uusi tapahtuma">tapahtuman luonti</a></li>

    <br>
    <h3>Omat tapahtumat:</h3>
    {% for event in myevents %}
    <ul>
        <li><a href="/event/{{ event.id }}">{{ event.event_name }}</a></li> 
    </ul>
    {% endfor %}

    <br>
    <h3>Seuratut tilit:</h3>
    {% for friend in friends %}
    <ul>
        <li><a href="/friend/{{ friend.id }}">{{ friend.username }}</a></li> 
    </ul>
    {% endfor %}


    <br>
    <br>
    <hr>
    <a href="#" title="hyppää takaisin sivun alkuun">Takaisin sivun alkuun</a>

</body>

</html>